<div class="ask_form">
  <div>
    <h1>Enter your question ! :)</h1>
    <form action="/answer" method="get">
      <input class="input_form" type="text" name="question" placeholder="How are you?">
      <input type="submit" value="Ask!">
    </form>
  </div>
</div>
